.banner-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  background-image: url(./public/banner1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.assassins-creed-valhalla {
  position: absolute;
  top: 771px;
  left: 97px;
  font-size: var(--font-size-51xl);
  font-family: var(--font-poppins);
}
.vector-icon12,
.vector-icon13,
.vector-icon14 {
  position: absolute;
  height: 8.33%;
  width: 4.69%;
  top: 81.94%;
  right: 82.71%;
  bottom: 9.72%;
  left: 12.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon13,
.vector-icon14 {
  top: 81.97%;
  right: 90.23%;
  bottom: 9.7%;
  left: 5.08%;
}
.vector-icon14 {
  height: 12.02%;
  width: 7.81%;
  top: 2.78%;
  right: 87.5%;
  bottom: 85.2%;
  left: 4.69%;
}
.home5 {
  text-decoration: none;
  position: absolute;
  top: 900.3px;
  left: 960px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  width: 173px;
  height: 72px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-0.04deg);
  transform-origin: 0 0;
}
.cart6 {
  top: 902.96px;
  left: 1450px;
  width: 129px;
}
.cart6,
.games6,
.sign-in5 {
  text-decoration: none;
  position: absolute;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  height: 72px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-0.04deg);
  transform-origin: 0 0;
  cursor: pointer;
}
.sign-in5 {
  top: 902.83px;
  left: 1635px;
  width: 200px;
}
.games6 {
  top: 900.14px;
  left: calc(50% + 229px);
  width: 205px;
}
.div17 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
