.banner-2-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  object-fit: cover;
}
.vector-icon15 {
  position: absolute;
  height: 12.02%;
  width: 7.81%;
  top: 2.78%;
  right: 88.54%;
  bottom: 85.2%;
  left: 3.65%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.diablo-iv {
  position: absolute;
  top: 771px;
  left: 97px;
  font-size: var(--font-size-51xl);
  font-family: var(--font-poppins);
}
.vector-icon16,
.vector-icon17 {
  position: absolute;
  height: 8.33%;
  width: 4.69%;
  top: 81.94%;
  right: 82.71%;
  bottom: 9.72%;
  left: 12.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon17 {
  top: 81.97%;
  right: 90.23%;
  bottom: 9.7%;
  left: 5.08%;
}
.home7 {
  text-decoration: none;
  position: absolute;
  top: 909px;
  left: 960px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  width: 173px;
  height: 72px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.cart7 {
  top: 913px;
  left: 1450px;
  width: 129px;
}
.cart7,
.games7,
.sign-in6 {
  text-decoration: none;
  position: absolute;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  height: 72px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.sign-in6 {
  top: 913px;
  left: 1635px;
  width: 200px;
}
.games7 {
  top: 909px;
  left: calc(50% + 229px);
  width: 205px;
}
.home6 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-35xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
